{% extends "base.html" %}
{% block titulo %}Inicio{% endblock %}

{% block contenido %}
<div class="container-principal">
  <h1>Bienvenido al Sistema de Reciclaje Municipal</h1>
  <div class="card-info">
    <p>¡Gracias por ser parte del cambio! A través de esta plataforma puedes solicitar retiros de materiales reciclables, ver el estado de tus solicitudes y conocer el impacto de tu comunidad.</p>
    {% if user.is_authenticated %}
      <a href="{% url 'perfil' %}" class="btn-verde">Ir a mi Perfil</a>
    {% else %}
      <a href="{% url 'login' %}" class="btn-verde">Iniciar Sesión</a>
    {% endif %}
  </div>
</div>
{% endblock %}
